<div class="ui fixed inverted menu main-nav desktop-item">
  <a class="header item" href="#">
    <h1>Menu Example</h1>
  </a>
  <a class="header item" href="#">
    Example 1
  </a>
  <a class="header item" href="#">
    Example 2
  </a>
  <a class="header item" href="#">
    Example 3
  </a>

  <div class="right header item desktop-item">
    <div class="ui animated button grey" (click)="logout()">
      <div class="hidden content">Logout</div>
      <div class="visible content">
        <i class="icon sign out alternate"></i>
      </div>
    </div>
  </div>
</div>
